-----BEGIN PRIVATE KEY-----
MIIBVAIBADANBgkqhkiG9w0BAQEFAASCAT4wggE6AgEAAkEAvfKDX5gNXfs9phEx
RE+PfUU3zL3tsjNwEvbruK9Gb5jrsye4rzvbcC5CImCW0a7Vrz7YBoj9022X7RXh
aetN2wIDAQABAkAN668LG3anU5liCVKGAhqvAJqlS6oW7EQjb6s43seXuAnywjsW
rhoAObfTBcgM9YXVXFV5Arb9mQbw7IoTBwNRAiEA6w8aUPgDwbKHf2O12G5GGWhS
H1d0ank4Hh38RuXmPHMCIQDO3pD1Lb+Ni1nmQaVo6K6RzZrciVV+tWd+7asqgIz2
+QIhAOUfgZ1vQ+opJd7MyNLBGt9lSrd2PeoTYtoojGJncnd1AiBn4aANXtHINGgK
loCHtACluwe/Iz/JhzLXrGW9zBv9kQIgGl/CmgAOXaEvo6w1fasjW9XBOSCCtByq
YXCl4ze+J9w=
-----END PRIVATE KEY-----
